/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Banner */
.banner {
    background-color: #0073e6;
    color: white;
    padding: 100px 0;
    text-align: center;
}

/* Seções */
section {
    padding: 20px;
}

/* Perfis de Guias e Tours */
.guia-perfil, .tour-perfil {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.login
.guia-perfil img, .tour-perfil img {
    width: 100%;
    height: auto;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Formulários */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
