*               {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Back-Header    {

    background-image:url(media/img/Background_6.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;

    width: 100%;
    height: 20vh;


    display:flex;
    align-items: center;
    justify-content: center;

    transition: .5s;
                  
    background-color: rgb(255, 255, 255);
                  
    border-bottom: 5px solid #0D4B5D;


}

.logo       {

    max-width: 20vh; /* Define um tamanho máximo */
    height: auto;

}

/* Estiliza o botão que abre a navbar */

#openNav {

    position: absolute;
    left: 10%;
    
    background-color: transparent;
    border: none; /* Remove a borda */
    outline: none; /* Remove a borda de foco */
    font-size: 40px; /* Defina o tamanho da fonte do botão */
    cursor: pointer;
    transition: .4s;
       
}

#openNav:hover {

color: rgb(255, 255, 255);

}

/* NavBar */

.SideNav {
    display: flex;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20vh;
    box-shadow: 5px 0px 0px  #0D4B5D;
}

.SideNav ul {

    width: 100%;
    transition: .2s;

}

.SideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.SideNav a:hover {

    color: #f1f1f1;

}

.SideNav li:hover {

    color: #f1f1f1;
    background-color:#0D4B5D;

}

/* Estiliza o botão de fechar */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {

    transition: margin-left .5s;
    padding: 20px;
}




